        		<span class="blue" style="margin-right:20px;">You have not yet created any teams</span>
				<%= link_to edit_teams_path, :class => "btn btn-blue" do %>
					<i class="icon-plus"></i> Create Teams (optional)
				<% end %>