      
		<!-- MAIN CONTENT CONTAINER -->
	<div class="container">
	  
			<hr class="half">
			<!-- START MARKETING DIV-->
	<div class="marketing">
	
	<div class="row-fluid">
		<!-- FEATURE ITEM-->
		<div class="span4">
			<i class="fa-icon-thumbs-up fa-icon-xxlarge main-color"></i>
			<h3 class="features-title"> <span class="firstword">Appointment </span>Scheduling</h3>
			<p class="features">We make it easy for you to book appointments faster on the phone. You can even set up instant booking for your customers online</p>
		</div>
		<!-- END FEATURE ITEM-->
		<!-- FEATURE ITEM-->
	<div class="span4">
		<i class="fa-icon-money fa-icon-xxlarge main-color"></i>
		<h3 class="features-title"> <span class="firstword">More money, </span>Less Time</h3>
		<p class="features">We'll personally work with you until all the features you want work together seamlessly to book you more appointments with less management</p>
	</div>
	<!-- END FEATURE ITEM-->
	
	<!-- FEATURE ITEM-->
	<div class="span4"> 
		<i class="fa-icon-calendar fa-icon-xxlarge main-color"></i>
		<h3 class="features-title"> <span class="firstword"> Automatic</span> Reminders</h3>
		<p class="features">Avoid costly no-shows! ZenMaid automatically sends emails to your regular customers to remind them of service </p>
	</div>

  </div>
  
	<div class="row-fluid">
		<!-- FEATURE ITEM-->
		<div class="span4">
			<i class="fa-icon-user fa-icon-xxlarge main-color"></i>
			<h3 class="features-title"> <span class="firstword">Employee </span>Management </h3>
			<p class="features">ZenMaid Software sends reminders to your teams and employees and makes it easy to track everyone's hours in one place</p>
		</div>
		<!-- END FEATURE ITEM-->
		<!-- FEATURE ITEM-->
		<div class="span4">
			<i class="fa-icon-question-sign fa-icon-xxlarge main-color"></i>
			<h3 class="features-title"> <span class="firstword">What's </span>your time worth?</h3>
			<p class="features">Our goal is to save you at least 5-10 hours of work per week. Let us know if the software isn't and we'll work with you until it does or refund your money</p>
		</div>
		<!-- END FEATURE ITEM-->
		<!-- FEATURE ITEM-->
		<div class="span4"> 
			<i class="fa-icon-mobile-phone fa-icon-xxlarge main-color"></i>
			<h3 class="features-title"> <span class="firstword">Phone</span> Friendly</h3>
			<p class="features">Not only will our software send text reminders where you prefer, you can also run your operation from your Smart Phone! </p>
		</div>
	
	
	</div>	

  <!-- PRICING 3 col -->
	<div class="row-fluid">
		<div class="span12">
			<div class="color-bottom-line center">
				<h2 class="line center"><span>Plans & Features</span></h2>
			</div>
		</div>
	</div>
	<div class="row-fluid">
	<div class="span12">
		<%= render 'shared/feature_table' %>
	</div>
	</div>

	<!-- END FEATURE ITEM-->
	<!-- FEATURE ITEM-->
	<div class="row-fluid">
		<hr class="half">
		<h2 class="line2 center standart-h2title"><span><strong>What do you mean by customized?</strong></span></h2>
		<p class="lead">
			The ZenMaid team works with you to set up your software to fit your exact workflow in each of the areas above. 
			Examples include instructions to employees, customized email reminders for clients and much more. 
			Have a specific request or need? Send our founder an email at <%= mail_to "Amar@ZenMaid.com", "Amar@ZenMaid.com" %>
		</p>
	</div>

	
	</div>

	</div>
	<!-- END MAIN WRAPPER-->
				
				
