<% provide(:title, "Thank you") %>

<div class="marketing">
<h2 class="center line2 standart-h2title"><span><strong>Thank you!</strong></span></h2>
<p class="lead">
A representative will contact you shortly
</p>
</div>
