<div style="margin-top:15px;padding:8px;background-color:#E6E6FA;page-break-inside:avoid;">
	<strong style="font-size:16px;">Approval</strong><br>

	<div style="margin-top:30px;">
	<div style="display:inline-block;">
		<div style="display:inline-block;width:150px;border-top:1px solid black;">
			<em style="font-size:8px;line-height:13px;">Employee</em>
		</div>
		<div style="display:inline-block;width:75px;border-top:1px solid black;">
			<em style="font-size:8px;line-height:13px;">Date</em>
		</div>
	</div>
	<div style="display:inline-block;margin-left:60px;">
		<div style="display:inline-block;width:150px;border-top:1px solid black;">
			<em style="font-size:8px;line-height:13px;">Supervisor</em>
		</div>
		<div style="display:inline-block;width:75px;border-top:1px solid black;">
			<em style="font-size:8px;line-height:13px;">Date</em>
		</div>
	</div>
	</div>
</div>