       					<span class="blue" style="margin-right:20px;margin-top:20px;">You have not yet created any employees</span>
						<%= link_to new_employee_path, :class => "btn btn-red" do %>
							<i class="icon-plus"></i> Create Employee
						<% end %>