<div id="eventPreviewPanel">
  <h5 class="background-green" style="margin-top:47px;">
    New Task
    <%= render 'shared/close_pageslide' %>
  </h5>
  
  <div class="padded10">
  
  <div class='new-task description-panel-alt'> 
    <%= render :partial => 'tasks/form' %>
  </div>
  
  </div>
</div>
