<div class="nested-fields" style="margin-bottom: 10px;cursor:move;">
	<span style="margin-left: 20px;margin-right: 20px;"><i class="darkblue icon-sort"></i></span><%= f.input :field_name, :label => "Instruction", :wrapper_html => {:class => "inline" } %> 
	<%= f.hidden_field :order, :class => "order-field" %>
	<div class="pull-right"><%= link_to_remove_association '<i class="icon-remove"></i>'.html_safe, f, :class => "btn btn-mini btn-danger", :data => {:confirm => "Are you sure you wish to delete this field AND all associated data?"} %></div>
</div>