<div class="row-fluid">

    <div class="span4">
      <div class="plan-container">
        <div class="plan-box">
          <div class="plan-header">
            <div class="plan-title">Enterprise</div>
            <div class="plan-price">
              Starts at <span class="dollar">$</span>249<span class="permonth">per month - <%= mail_to 'amar@zenmaid.com', 'Contact us' %></span>
            </div>
          </div>

          <div class="plan-features" style="font-size:16px;">
            <ul>
              <li><strong>41+</strong> cleaning employees</li>
              <li><strong>The Easiest-to-Use Schedule Available!</strong></li>
              <li>Appointment Confirmations &amp; Reminders</li>
              <li>Appointment Follow-Ups &amp; Come Back Emails </li>
              <li>Employee Payroll &amp; Time tracking</li>
              <li><strong>Instant Booking Form</strong> (website integration available)</li>
              <li>Credit Card Processing</li>
              <li><strong>FREE 24/7 Phone Support</strong></li>
              <li>No Setup Fee</li>
              <li><strong>Please contact us at <%= mail_to 'amar@zenmaid.com', 'Amar@ZenMaid.com' %> for more information</strong></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="span4">
      <div class="plan-container">
        <div class="plan-box featured">
          <div class="plan-header">
            <div class="plan-title">Premium</div>
            <div class="plan-price">
              <span class="dollar">$</span>99<span class="permonth">per month</span>
            </div>
          </div>

          <div class="plan-features" style="font-size:16px;">
            <ul>
              <li><strong>11 - 40</strong> cleaning employees</li>
              <li><strong>The Easiest-to-Use Schedule Available!</strong></li>
              <li>Appointment Confirmations &amp; Reminders</li>
              <li>Appointment Follow-Ups &amp; Come Back Emails </li>
              <li>Employee Payroll &amp; Time tracking</li>
              <li><strong>Instant Booking Form</strong> (website integration available)</li>
              <li>Credit Card Processing</li>
              <li><strong>FREE 24/7 Phone Support</strong></li>
              <li>No Setup Fee</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="span4">
      <div class="plan-container">
        <div class="plan-box">
          <div class="plan-header">
            <div class="plan-title">Basic</div>
            <div class="plan-price">
              <span class="dollar">$</span>49<span class="permonth">per month</span>
            </div>
          </div>

          <div class="plan-features" style="font-size:16px;">
            <ul>
              <li><strong>Up to 10</strong> cleaning employees</li>
              <li><strong>The Easiest-to-Use Schedule Available!</strong></li>
              <li>Appointment Confirmations &amp; Reminders</li>
              <li>Appointment Follow-Ups &amp; Come Back Emails </li>
              <li>Employee Payroll &amp; Time tracking</li>
              <li><strong>FREE 24/7 Phone Support</strong></li>
              <li>No Setup Fee</li>
            </ul>
          </div>

        </div>
      </div>

    </div>

</div>
