<div class="row-fluid">

    <div class="span6">
      <div class="plan-container">
        <div class="plan-box featured">
          <div class="plan-header">
            <div class="plan-title">Premium</div>
          </div>

          <div class="plan-features" style="font-size:16px;">
            <ul>
              <li><strong>Up to 40</strong> cleaning employees</li>
              <li><strong>The Easiest-to-Use Schedule Available!</strong></li>
              <li>Appointment Confirmations &amp; Reminders</li>
              <li>Appointment Follow-Ups &amp; Come Back Emails </li>
              <li>Employee Payroll &amp; Time tracking</li>
              <li><strong>Instant Booking Form</strong> (website integration available)</li>
              <li>Credit Card Processing</li>
              <li><strong>FREE 24/7 Phone Support</strong></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="span6">
      <div class="plan-container">
        <div class="plan-box">
          <div class="plan-header">
            <div class="plan-title">Basic</div>
          </div>

          <div class="plan-features" style="font-size:16px;">
            <ul>
              <li><strong>Up to 7</strong> cleaning employees</li>
              <li><strong>The Easiest-to-Use Schedule Available!</strong></li>
              <li>Appointment Confirmations &amp; Reminders</li>
              <li>Appointment Follow-Ups &amp; Come Back Emails </li>
              <li>Employee Payroll &amp; Time tracking</li>
              <li><strong>FREE 24/7 Phone Support</strong></li>
            </ul>
          </div>

        </div>
      </div>

    </div>

</div>

<div class="green-message">
  Have more than 40 employees? <%= mail_to 'Amar@ZenMaid.com', "Contact us at Amar@ZenMaid.com for enterprise pricing" %>
</div>
