		<div style="border-bottom: 1px solid #e8e8e8;padding:10px;background-color:lightyellow;padding-left:40px;">
			<span style="font-size:20px;color:#638826;"><i class="icon-large icon-info-sign"></i></span> <strong style="font-size:14px; margin-left:10px;color:#666666;"> <%= message.html_safe %></strong>
		</div>