<table class="table table-hover feature-comparison">
					<thead>
						<tr>
							<th></th>
							<th>Appointment Only</th>
							<th>Small Business</th>
							<th>Enterprise</th>
						</tr>
					</thead>
					<tbody>
						<tr data-toggle="tooltip" title="Track contact information, individual schedules, job history, payroll, and more">
							<td class="left">Employees</td>
							<td class>1 to 4</td>
							<td>5 to 34</td>
							<td>35+</td>
						</tr>
						<tr>
							<td class="left">Customers</td>
							<td>50</td>
							<td>200</td>
							<td>Unlimited</td>
						</tr>
						<tr data-toggle="tooltip" title="Sign in, manage your business, and delegate administrative tasks as you grow">
							<td class="left">Admins</td>
							<td>1</td>
							<td>2 to 4</td>
							<td>Unlimited</td>
						</tr>
						<tr data-toggle="tooltip" title="We customize our software to fit your business">
							<td class="left">Customization</td>
							<td>Limited</td>
							<td>Fit to your workflow<br> and processes</td>
							<td>Fit to your workflow<br> and processes</td>
						<tr data-toggle="tooltip" title="Track any and all information you want about your clients">
							<td class="left">Customer Management</td>
							<td><i class="fa-icon-ok"></i></td>
							<td>Customized</td>
							<td>Customized</td>
						</tr>
						<tr data-toggle="tooltip" title="Manage recurring and one-time appointments easily and send customized email reminders">
							<td class="left">Scheduling</td>
							<td><i class="fa-icon-ok"></i></td>
							<td>Customized</td>
							<td>Customized</td>							
						</tr>
						<tr data-toggle="tooltip" title="Balance employee and appointment schedules and create customized work orders in a single click">
							<td class="left">Job Management</td>
							<td><i class="fa-icon-ok"></i></td>
							<td>Customized</td>
							<td>Customized</td>							
						</tr>
						<tr>
							<td class="left">Invoicing</td>
							<td><i class="fa-icon-remove"></i></td>
							<td>Customized</td>
							<td>Customized</td>							
						</tr>
						<tr>
							<td class="left">Reports</td>
							<td><i class="fa-icon-remove"></i></td>
							<td>Customized</td>
							<td>Customized</td>							
						</tr>
						<tr>
							<td class="left">Mapping</td>
							<td><i class="fa-icon-remove"></i></td>
							<td>Customized</td>
							<td>Customized</td>							
						</tr>
						<tr>
							<td class="left">Mobile Friendly</td>
							<td><i class="fa-icon-ok"></i></td>
							<td><i class="fa-icon-ok"></i></td>
							<td><i class="fa-icon-ok"></i></td>							
						</tr>
						<tr>
							<td class="left">Support</td>
							<td><i class="fa-icon-ok"></i></td>
							<td>Direct Access to Founders</td>
							<td>Direct Access to Founders</td>							
						</tr>
						<tr>
							<td></td>
							<td><div class="pricing-table-sign-up">
                    			<p><%= link_to "http://software.zenmaid.com/get-started/", :class => "btn btn-warning btn-large" do %>
                      				Get Started!
                    			<% end %>
                				</div></td>
                			<td colspan="2"<div class="pricing-table-sign-up">
                    			<p><%= link_to "http://software.zenmaid.com/get-started/", :class => "btn btn-large btn-success" do %>
                      				Get Started!
                    			<% end %>
                				</div></td>			
						</tr>
					</tbody>
					
				</table>