<div class="headertop needhead">

<div class="action-banner-bg"></div>

		

 
<div class="container">
	<div class="row-fluid">
		<div class="landing-message">
			<h1>Maid Service made easy</h1>
			<p class="lead">We keep you off the phones, away from the desk and focused on growing your business!</p>
			<p><%= link_to "http://software.zenmaid.com/get-started/", :class => "btn btn-large btn-action" do %>
				<i class="fa-icon-circle-arrow-right"></i> Try it free
			<% end %>
				
			</p>
		</div>
		<div class="landing-devices"></div>
	</div>
</div>
</div>
