
<div class="peach-background" style="padding:25px;text-align:center;">
	<h2 class="darkblue">This feature is only available on<br>the marketing plan</h2>
	
	<em>Please email us at <%= mail_to 'amar@zenmaid.com', 'Amar@ZenMaid.com' %> to upgrade to the marketing plan and start booking more cleanings!</em>
	
	<div style="margin-top:20px;"><%= link_to 'Back', :back, :class => "btn btn-large btn-green" %></div>	
</div>
