 <div class="row-fluid">

    <div class="span4">
      <div class="plan-container">
        <div class="plan-box">
          <div class="plan-header">
            <div class="plan-title">Enterprise</div>
            <div class="plan-price">
              <span class="dollar">$</span>999<span class="permonth">per month</span>
            </div>
          </div>

          <div class="plan-features" style="font-size:16px;">
            <ul>
              <li><strong>The ZenMaid Marketing System</strong></li>
              <li><strong>1000 contacts</strong> minumum</li>
              <li><strong>4 hours</strong> of consulting with Sharon monthly</li>
              <li><strong>4 hours</strong> of consulting with Amar monthly</li>
              <li><strong>PLUS</strong> $600 worth of bonus content!</li>
              <li><strong>MONTHLY</strong> Bonus content and surprises</li>
              <li><strong>ONLY if you're serious about growing your maid service and want personalized training and advice every step of the way</strong></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="span4">
      <div class="plan-container">
        <div class="plan-box featured">
          <div class="plan-header">
            <div class="plan-title">Premium Plus</div>
            <div class="plan-price">
              <span class="dollar">$</span>249<span class="permonth">per month</span>
            </div>
          </div>

          <div class="plan-features" style="font-size:16px;">
            <ul>
              <li><strong>The ZenMaid Marketing System</strong></li>
              <li><strong>More than 1000</strong> contacts</li>
              <li><strong>3 hours</strong> of consulting with Sharon</li>
              <li><strong>6 hours</strong> of consulting with Amar</li>
              <li><strong>PLUS</strong> $600 worth of bonus content!</li>
              <li><strong>MONTHLY</strong> Bonus content and surprises</li>
              <li><strong>A $2,000 value</strong></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="span4">
      <div class="plan-container">
        <div class="plan-box">
          <div class="plan-header">
            <div class="plan-title">Premium</div>
            <div class="plan-price">
              <span class="dollar">$</span>99<span class="permonth">per month</span>
            </div>
          </div>

          <div class="plan-features" style="font-size:16px;">
            <ul>
              <li><strong>The ZenMaid Marketing System</strong></li>
              <li><strong>Less than 1000</strong> contacts</li>
              <li><strong>1 hour</strong> of consulting with Sharon</li>
              <li><strong>3 hours</strong> of consulting with Amar</li>
              <li><strong>PLUS</strong> $600 worth of bonus content!</li>
              <li><strong>A $1,000 value</strong></li>
            </ul>
          </div>

        </div>
      </div>

    </div>

</div>
