<div class="modal fade hide" id="sign-up-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">You're just seconds away from revolutionizing your business...</h4>
        </div>

        <div class="modal-body">
          <%= render 'sign_up_modal_content' %>
        </div>
    	</div>
	</div>
</div>