<div class="row-fluid">
  <div class="span12">
      
    <div class="content-box">

    <div class="row-fluid">
      <div class="span12">
        <div class="padded">

        <div class="row-fluid">
        <div class="span12">
          <div style="text-align:center;margin-bottom:20px;">
            <span style="font-size:30px;line-height:35px;display:block;color:#401600;">
              The only system available to help cleaning service owners like you <strong>grow and automate</strong> their businesses
            </span><br>

            <span class="cobalt-grey" style="display:block;font-size:18px;margin-bottom:40px;">
              You're just minutes away from growing your business twice as fast as before...
            </span>

            <div style="width:800px;margin:auto;">
              <iframe width="800" height="500" src="//www.youtube.com/embed/rZQiLnwDnyY?autoplay=1&modestbranding=1&controls=0&showinfo=0" frameborder="0" controls="0"></iframe>
            
              <div style="margin-top:10px;">
                <%= link_to lead_landing_path, :style => "width:100%;font-size:20px;display:none;", :class => "btn btn-green btn-large", :id => "sales-cart-button", :data => {:seconds => 1200} do %>
                  <i class="icon-shopping-cart"></i> <strong class="blue">Click Here</strong> To Add To Cart
                <% end %>
              </div>

            </div>


          </div>
        </div>
        </div>

        </div>
      </div>
    </div>

  </div>
</div>