

<div class="container">

<div class="row-fluid">
	<div class="span12">
    	
  	<div class="content-box">

  	<div class="row-fluid">
    	<div class="span12">
      	<div class="padded">
  			
        <div class="row-fluid">
        <div class="span12">
        
          <div style="text-align:center;margin-bottom:20px;">
            <strong style="font-size:30px;line-height:100%;display:block;color:darkblue;">
              You've successfully signed up for the ZenMaid Marketing System!
            </strong><br>

            <span class="cobalt-grey" style="display:block;font-size:24px;line-height:30px;margin-bottom:10px;">
              Congratulations on taking the first step towards revolutionizing your business success.
            </span>
          </div>
        
          <br>
      
          <hr>

          <div style="margin-left:25px;color:maroon;text-align:center;margin-bottom:10px;line-height:22px;margin-bottom:10px;color:maroon;font-size:20px;">
            <strong><em>What happens now?</em></strong>
          </div>
          <div style="font-size:20px;text-align:center;margin-left:25px;margin-bottom:30px;line-height:22px;">
            Keep an eye on your inbox, I'll be reaching out to you soon to personally help you get set up.<br><br>

            If you have any questions at all, send me an email at <%= mail_to "amar@zenmaid.com", "amar@zenmaid.com" %>
          </div> 

        </div>
        </div>

        </div>
      </div>
    </div>
    </div>

  </div>
  
</div>

</div>