<div class="modal fade hide" id="customer-recent-activity-modal">
    <div class="modal-dialog">
      	<div class="modal-content">
       		<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          		<h4 class="modal-title">Recent Activity</h4>
        	</div>
        	<div class="modal-body"></div>
    	</div>
	</div>
</div>