<div class="row-fluid">
<div class="span12" style="background-color: rgb(250,250, 250);">
<iframe frameBorder="0" allowTransparency="true" height="1500" hspace="0" vspace="0" scrolling="no" marginheight="0" marginwidth="0" scrolling="auto" seamless="seamless" style="width:100%;" src=<%= instant_booking_path(current_user, :embed => true)%>>
	
</iframe>
</div>
</div>

