<li>
	<span class="black"><i class=<%= log_entry_icon log_entry %>></i></span><span class="blue" style="margin-left:5px;"> <%= log_entry.entry %></span>- <em style="color:grey;"><small><%= time_ago_in_words(log_entry.created_at) %> ago</small></em>
</li>
