<div class="modal fade hide" id="preview-text-template-modal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Text Preview</h4>
        </div>
        <div class="modal-body">
			
		    </div>
        <div class="modal-footer" style="text-align:left;">
            <strong>Note: </strong> You can customize this message in the ZenMaid account settings or just ask us to customize it for you as a part of our complimentary <strong class="darkblue">concierge onboarding</strong> service. Just send us an email at <%= mail_to "Amar@ZenMaid.com", "Amar@ZenMaid.com" %> with what you'd like this message to look like and we'll customize your template accordingly!
        </div>
    </div>
	</div>
</div>