<!-- edit location and contanct info popup -->
<div class="modal fade hide" id="conflicts-modal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="icon-warning-sign red"></i> Scheduling Conflicts Detected!</h4>
        </div>
        <div class="modal-body">
 

		</div>
    </div>
	</div>
</div>


</div>