<!-- edit location and contanct info popup -->
<div class="modal fade hide" id="time_in_time_out_modal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit time in and out <%= current_employee.admin? ? link_to("(for payroll)", payrolls_path) : '' %></h4>
        </div>
        <div class="modal-body">
 

		</div>
    </div>
	</div>
</div>


</div>