Hi <%= @employee.full_name %>,

<p>See the attached PDF for your schedule for <%= @from.strftime('%-m/%-d/%Y') %> - <%= @to.strftime('%-m/%-d/%Y') %>.</p>

<p>If you have any questions or concerns, please reply to this email</p>


