<p>Your contacts have been successfully synced to Mailchimp!</p>

<p>Visit your Mailchimp account <%= link_to 'here', 'www.mailchimp.com' %> to view your synced contacts. You can now create and send email campaigns to your ZenMaid contacts through your Mailchimp account.</p>
