<p>Your customers have been successfully synced with QuickBooks!</p>

<p><%= link_to 'Click here to view your customers in ZenMaid!', customers_url(:subdomain => "app") %></p><br>
<p>Visit your Quickbooks account <%= link_to 'here', 'www.quickbooks.com' %> to view your synced contacts.</p>
