<!-- Footer
	    ================================================== -->
<footer class="footer">
	<div class="container">
		<div class="row-fluid">
		<div class="span3"></div>
		<div class="span3"></div>
		<div class="span3"></div>
		<div class="span3">
        <h4 class="line3 center standart-h4title"><span>Contact Us</span></h4>

			<strong>ZenMaid</strong><br>
			<i class="fa-icon-twitter"></i> <%= link_to "@ZenMaid", "https://twitter.com/ZenMaid"%><br>
			<i class="fa-icon-envelope-alt"></i> <%= mail_to "amar@zenmaid.com", "amar@zenmaid.com" %>
									  
      	</div>	
		</div>
		
		<hr class="half1 copyhr">
		<div class="row-fluid copyright">
	  		<div class="span12 center">Copyright &copy; 2013 ZenMaid</div>
		</div>
	</div>
</footer>
