     
	    <!-- Page heading -->
	    <div class="page-head">
	      <h2 class="pull-left"><i class="<%= yield(:icon) %>"></i> <%= yield(:title) %></h2>

        <div class="clearfix"></div>
		
		</div>
